body{
    background-image: url('tic.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    
}
.hide{
    display: none;
}
div p{
    /* display:none; */
    font-size:14px;
}
div .startscreen {
    position:absolute;
    /* background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    background-color: lightblue;
    opacity: 0.7;
    font-weight: bold;
    left:50%;
    top: 36%;
    transform:translate(-50%,50%);
    color:black;
    z-index: 1;
    text-align: center;
    height:9vh;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid #ff6b6b; */
    padding:15px;
    margin:auto;
    width:50%;
    cursor:pointer;
    font-family: carfont;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;

}
.startscreen:hover{
    opacity:0.6;
}
h1{
    position: absolute;
    left: 43%;
    top: -11px;
    color: white;
    font-size: 32px;
}
.cell:hover{
    background-color: lightgreen;
    opacity: 0.4;

}

td{
    border:4px solid black;
    height:100px;
    width:100px;
    text-align:center;
    vertical-align: middle;
    font-family: "Comic Sans MS";
    font-size: 70px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: absolute;
    left:50%;
    margin-left: -155px;
    top: 94px;
}
table tr:first-child td{
    border-top:0;
    border-left: 0;
}
table tr:last-child td{
    border-bottom:0;
    border-left: 0;
}
table tr td:first-child{
    /* border-bottom:0; */
    border-left: 0;
}
table tr td:last-child{
    /* border-bottom:0; */
    /* border-left: 0; */
    border-right: 0;
}
.endgame{
    /* display: none; */
    cursor: pointer;
    width: 200px;
    top: 120px;
    background-color: rgba(204,133,63,0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color:white;
    font-size: 2em;
}